<!DOCTYPE html>
html
  head lang="en-US"
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title -- ${input.title}
    lasso-head
  body
    site-header session=input.session title=input.title
    div.content
      include(input.content)
    site-footer
    lasso-body
