site-layout session=input.session
  @title -- home
  @content
    section
      h2 -- simple cms
      ul
        li -- [x] photo
        li -- [x] gallery
        li -- [x] authentication
        li -- [] tags
        li -- [] pages