class {
  refresh(newPhotos) {
    var photoManager = this.getComponent("photos")

    photoManager.addPhotos(newPhotos)
    //photoManager.loadPhotos()
  }
}

site-layout session=input.session
  @title -- photo
  @content
    h3 -- Upload Photo
    photo-uploader on-upload('refresh')

    h3 -- Uploaded
    photo-manager key="photos" selected=[]