$ var photoLabel = state.photos.length === 1 ? "photo" : "photos"

div
  label -- ${state.photos.length} ${photoLabel}
  if(state.loading)
  	label -- (loading...)

div.photos
  for(uuid in state.photos)
    div.photo
      div.overlay -- #${uuid}
          input [
          	type="checkbox",
          	checked=state.selected.indexOf(uuid) >= 0,
          	on-change('onPhotoChange', uuid)
          ]
      img src=`api/photo/${uuid}/thumbnail`
